.dialogs {
 display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    display: flex;
}

.dialog .name {
    align-self: center;
}

.dialog .messageAvatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.dialogsItems,
 .messages{
     padding: 20px;
 }

.dialogsItems .dialog,
.messages .message{
    padding-bottom: 10px;
}

.dialogsItems .dialog.active {
    color: coral;
}

.form {
    display: inline-flex;
    flex-direction: column;
}

.formInput:focus {
    outline-width: 0;
}

.messages {

}

.messages .message {

}

.newMessage {

}

.dialogs .newMessage {

}

